@import 'tailwindcss';

@font-face {
  font-family: 'NeueMontriyan';
  src: url('./fonts/vertopal.com_FoundersGrotesk-Semibold.ttf') format('woff2');
}

@font-face {
  font-family: 'FounderGrotesque';
  src: url('./fonts/vertopal.com_FoundersGrotesk-Semibold.ttf') format('woff2');
}
